.home{
    width: 100%;
    height: 100%;
    background-image:
    url('phtotos/tech.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.about{
    background-image:
    url('phtotos/tech.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.projects{
    background-image:
    url('phtotos/tech.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.contact{
    background-image:
    url('phtotos/tech.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}


.homename{
    background-color:grey;
    font-family: 'Times New Roman', Times, serif; 
    color: white; 
    
}

.aboutme{
    background-color:grey;
    font-family: 'Times New Roman', Times, serif; 
    color: white; 
}

.projectpage{
    background-color:grey;
    font-family: 'Times New Roman', Times, serif; 
    color: white; 
}

.contactpage{
    background-color:grey;
    font-family: 'Times New Roman', Times, serif; 
    color: white; 
}



.topnav{
    text-align: right;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 3px 10px 10px;
    text-shadow: black 5px 0px 10px;
    font-weight: 700;  
}


a{
    text-decoration: none;
    color: black;
    margin: 10px;
    font-family: fantasy;
}

.active{
    text-decoration: none;
    color: rgb(10, 195, 241);
    font-weight: 700px;
    
}

.quote{
    text-align: left;
    margin-top: 100px;
    color:black;
    font-weight: 400px;
    writing-mode: vertical-rl;
    font-family:fantasy
    
}

.secondline{
    margin-top: 75px;
}

.mypicture-container{
   margin-top: 50px;
   margin-left: 35vw;
}

.mypicture-framer{
    border-radius: 200px;
}


p{
    text-shadow: white 5px 0px 10px;
    font-weight: 700; 
}



.mystory{

    font-size: larger;
    text-align: center;
    text-shadow: white 5px 0px 10px;
    font-weight: 700;
}


ul{
    text-align: left;
    margin-top: auto;
    text-shadow: white 5px 0px 10px;
    font-weight: 700;
}






.homephoto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.feedback{
    text-shadow: black 5px 0px 10px;
    font-weight: 700; 
    
}



@media only screen and (max-width: 600px) {
    .mypicture-framer{
      width: 200px;
    }
  }
